/* ===== GLOBAL ===== */
body{
  font-family:'Poppins',sans-serif;
  margin:0;
  color:white;
  text-align:center;
  overflow-x:hidden;
}


/* ===== BACKGROUND IMAGE ===== */
.bg-img{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  filter:blur(8px) brightness(0.5);
  z-index:-2;
}


/* ===== BACK BUTTON ===== */
.back-btn{
  position:fixed;
  top:20px;
  left:20px;

  padding:10px 18px;

  background:rgba(255,255,255,0.2);
  backdrop-filter:blur(10px);

  border-radius:30px;
  text-decoration:none;
  color:white;
  font-weight:600;

  transition:.3s;
}

.back-btn:hover{
  background:#ff6fa5;
}


/* ===== MEMORY CARD ===== */
.memory{
  max-width:650px;
  margin:120px auto;
  padding:40px 30px;

  background:rgba(255,255,255,0.15);
  backdrop-filter:blur(18px);

  border-radius:30px;
  box-shadow:0 15px 40px rgba(0,0,0,0.4);

  animation:fadeUp 1s ease;
}


/* title */
.memory h1{
  color:#ffb6d9;
  margin-bottom:20px;
}


/* text */
.story{
  line-height:1.8;
  font-size:15px;
  opacity:.95;
}


/* ===== PHOTO ===== */
.photo{
  width:260px;
  border-radius:20px;
  margin-top:25px;

  box-shadow:0 10px 25px rgba(0,0,0,0.5);

  transition:.4s;
}

.photo:hover{
  transform:scale(1.05);
}


/* ===== SECRET MESSAGE ===== */
.secret{
  margin-top:25px;
  font-weight:bold;
  color:#ffd6ea;

  opacity:0;
  transform:translateY(10px);
  transition:1.2s;
}

.secret.show{
  opacity:1;
  transform:translateY(0);
}


/* ===== ANIMATION ===== */
@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(40px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}


/* ===== MOBILE ===== */
@media(max-width:600px){
  .memory{
    margin:100px 15px;
  }

  .photo{
    width:90%;
  }
}
